{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<div class="container">
<h1>Say Hello:</h1>
<ul>
{% for onePost in items %}
    <li>
    <h2> {{ onePost.title }} </h2>
    <p>{{ onePost.description }}</p>
    </li>
{% endfor %}
</ul>
</div>
{% endblock %}
